@import "../../../styles/variables.css";

.product-tags-section {
 background-color: var(--background);
 border: 1px solid var(--border);
 border-radius: var(--border-radius);
 padding: 1.5rem;
 box-shadow: var(--box-shadow);
 max-width: 16rem;
 box-sizing: border-box;
}

.product-tags-widget__content {
 margin-top: 1.25rem;
}
