:root {
  --brand-dark: #253d4e;
  --brand-green: #3bb77e;
  --brand-gray: #7e7e7e;
  --brand-gray-light: #adadad;
  --text-dark: #242424;
  --border-light: #bce3c9;
  --font-heading: 'Quicksand', sans-serif;
  --font-body: 'Lato', sans-serif;
  --background: #ffffff;
  --border: #ececec;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  --star-color: #d5e400;
  --border-radius: 1rem;
}