.category-menu {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ececec;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.03);
}

.category-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
