.category-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: auto !important;
 height: auto !important;
 max-width: none !important;
 max-height: none !important;
}

.category-icon svg {
 max-width: none !important;
 max-height: none !important;
}
